@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;700;800&display=swap');

:root {
  --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
  --color-white: hsl(0, 0%, 100%);
  --color-purple: hsl(228, 45%, 44%);

  --font-weight-light: 200;
  --font-weight-regular: 500;
  --font-weight-bold: 800;

  --border-radius-top: 10px 10px 0 0;
  --border-radius-bottom: 0 0 10px 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-weight: var(--font-weight-regular);
};

html {
  font-size: 16px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-light-grayish-blue);
}

.card {
  width: 87vw;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0px 16px 60px -35px var(--color-grayish-blue);
}

.card__image {
  max-width: 100%;
  border-radius: var(--border-radius-top);
  height: 12.5rem;
  width: 100%;
  object-fit: cover;
  object-position: 50% 32%;
}

.card__content {
  position: relative;
  background: var(--color-white);
  padding: 1.9rem 2rem 1.1rem 2rem;
}

.card__title {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-very-dark-grayish-blue);
  line-height: 1.55rem;
}

.card__description {
  display: inline-block;
  margin-top: 0.8rem;
  font-size: 0.78rem;
  line-height: 1.25rem;
  letter-spacing: 0.025rem;
  color: var(--color-desaturated-dark-blue);
}

.card__footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
}

.card__footer--active {
  background: var(--color-very-dark-grayish-blue);
  border-radius: var(--border-radius-bottom);
}

.card__credits {
  width: 100%;
  display: flex;
  align-items: center;
}

.card__footer--active .card__credits {
  display: none;
}

.card__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.card__author {
  font-size: 0.8rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-very-dark-grayish-blue);
  line-height: 1.5rem;
}

.card__date {
  color: var(--color-grayish-blue);
  font-size: 0.78rem;
}

.card__links {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding-right: 3.5rem;
}

.card__footer--active .card__links {
  display: flex;
}

.card__share-label {
  color: var(--color-grayish-blue);
  font-weight: var(--font-weight-light);
  font-size: 0.85rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.card__social-media {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-left: 1rem;
  margin-top: 0.2rem;
}

.card__share-button {
  width: 2.3rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--color-light-grayish-blue);
  font-size: 0.9rem;
  color: var(--color-desaturated-dark-blue);
}

.card__footer--active > .card__share-button {
  color: var(--color-light-grayish-blue);
  background: var(--color-desaturated-dark-blue);
}

.attribution { 
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;
  font-size: 0.6rem;
  text-align: center;
}

.attribution__link {
  color: var(--color-purple);
}