@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;700;800&display=swap');

:root {
  --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
  --color-white: hsl(0, 0%, 100%);
  --color-purple: hsl(228, 45%, 44%);

  --font-weight-light: 200;
  --font-weight-regular: 500;
  --font-weight-bold: 800;

  --border-radius-top: 10px 10px 0 0;
  --border-radius-bottom: 0 0 10px 10px;
  --border-radius-left: 10px 0 0 10px;
  --border-radius-right: 0 10px 10px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-weight: var(--font-weight-regular);
};

html {
  font-size: 16px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-light-grayish-blue);
}

.card {
  width: 87vw;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0px 16px 60px -35px var(--color-grayish-blue);
}

.card__image {
  max-width: 100%;
  border-radius: var(--border-radius-top);
  height: 12.7rem;
  width: 100%;
  object-fit: cover;
  object-position: 50% 26%;
  filter: brightness(102%) opacity(95%);
}

.card__content {
  position: relative;
  background: var(--color-white);
  padding: 1.9rem 2rem 1.2rem 2rem;
}

.card__title {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-very-dark-grayish-blue);
  line-height: 1.55rem;
}

.card__description {
  display: inline-block;
  margin-top: 0.8rem;
  font-size: 0.78rem;
  line-height: 1.25rem;
  letter-spacing: 0.025rem;
  color: var(--color-desaturated-dark-blue);
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: relative;
  height: 4rem;
}

.card__footer::after {
  content: '';
  background: var(--color-very-dark-grayish-blue);
  border-radius: var(--border-radius-bottom);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  opacity: 0;
  clip-path: circle(10% at 85% 50%);
  transition: clip-path .2s ease-in, opacity .4s;
}

.card__footer--active.card__footer::after {
  clip-path: circle(100%);
  opacity: 1;
}

.card__credits {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
  margin-top: 0.2rem;
}

.card__footer--active .card__credits {
  display: none;
}

.card__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.card__author {
  font-size: 0.8rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-very-dark-grayish-blue);
  line-height: 1.5rem;
}

.card__date {
  color: var(--color-grayish-blue);
  font-size: 0.78rem;
}

.card__links {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding-right: 3.5rem;
  position: relative;
  z-index: 1;
}

.card__footer--active .card__links {
  display: flex;
}

.card__share-label {
  color: var(--color-grayish-blue);
  font-weight: var(--font-weight-light);
  font-size: 0.85rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.card__social-media {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-left: 1rem;
  margin-top: 0.2rem;
}

.card__share-button {
  width: 2.3rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--color-light-grayish-blue);
  font-size: 0.9rem;
  color: var(--color-desaturated-dark-blue);
  position: relative;
  z-index: 1;
  transition: .2s;
  cursor: pointer;
}

.tooltip {
  display: none;
}

.card__footer--active > .card__share-button {
  color: var(--color-light-grayish-blue);
  background: var(--color-desaturated-dark-blue);
}

.attribution { 
  position: fixed;
  bottom: 0;
  margin-bottom: 1rem;
  font-size: 0.6rem;
  text-align: center;
}

.attribution__link {
  color: var(--color-purple);
}

@media only screen and (min-width: 768px) {
  .card {
    display: flex;
    width: 50.5vw;
    border-radius: 10px;
  }

  .card__image {
    width: 39%;
    height: auto;
    object-position: 5% 25%;
    border-radius: var(--border-radius-left);
  }

  .card__content {
    padding: 2rem 2.5rem 0.7rem 2.5rem;
    border-radius: var(--border-radius-right);
  }

  .card__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .card__footer {
    margin-bottom: 1rem;
    padding: 0 2.5rem;
  }

  .card__avatar {
    margin-top: 0.2rem;
  }

  .card__credits {
    margin-top: 0;
  }

  .card__share-button {
    margin-bottom: 0.5rem;
    position: relative;
  }

  .card__share-button--active.card__share-button {
    color: var(--color-light-grayish-blue);
    background: var(--color-desaturated-dark-blue);
  }

  .tooltip {
    position: absolute;
    display: block;
    background: var(--color-very-dark-grayish-blue);
    transform: translateY(-50%);
    opacity: 0;
    width: 16rem;
    padding: 0.9rem 2.5rem;
    border-radius: 10px;
    box-shadow: 1px 5px 20px -6px var(--color-grayish-blue);
    pointer-events: none;
    transition: transform .4s, opacity .2s;
  }

  .card__share-button--active .tooltip {
    pointer-events: initial;
    opacity: 1;
    transform: translateY(-130%);
  }

  .tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.8rem;
    border-width: 0.8rem;
    border-style: solid;
    border-color: var(--color-very-dark-grayish-blue) transparent transparent transparent;
  }

  .tooltip .card__links {
    display: flex;
    padding-right: 0;
  }

  .card__share-label {
    font-size: 0.8rem;
  }
}